#today_info {
	width: 100%;
}

#sidebar {
	width: 30%;
	float: left;
}

#form {
	width: 100%;
}

#your_info {
	width: 100%;
}

#today {
	width: 40%;
	float: left;
	text-align: center;
}

#spacer {
	width: 30%;
	float: left;
	min-height: 250px;
}

#split {
	width: 100%;
	float: left;
	min-height: 20px;
	/*background: blue;*/
}

#forecast_spacer {
	width: 20%;
	float: left;
	min-height: 500px;
}

#help_text {
	margin-top: 1px;
	padding-top: 1px;
	display: none;
}

#current_city {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#current_city:hover + #help_text{
	display: block;
}

#today_desc {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#today_temp {
	margin-top: 1px;
	padding-top: 1px;
	margin-bottom: none;
	padding-bottom: none;
}

#forecast table {
	display:inline-block;
	border: 1px;
	border-style:solid;
	border-color: black;
	float:left;
}

#forecast_day {
	float: left;
	text-align: center;
}

#temp {
	background: yellow;
}

#high_temp {
	margin-top: none;
	padding-top: none;
	margin-left: 180px;
	font-weight: bold;
	float: left;
}

#low_temp {
	margin-top: none;
	padding-top: none;
	margin-right: 180px;
	font-weight: bold;
	float: right;
}
