<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Personal Weather Sign up{% endblock %}</title>
  </head>
  <body>
    <header align='center'>
      {% if user.is_authenticated %}
        <h2>Welcome {{user}}</h2>
      {% endif %}
      {% if user.is_authenticated %}
      <div align='right'>
        <a href="{% url 'logout' %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      </div>
      {% endif %}
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>