<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
<body>
	<div id='today_info'>
	<div id='sidebar'>
	<div id='form'>
		<form method='POST'>
			<div>Enter a City to see todays weather and the weekly forecast</div><br>
			<input type="text" name="city">
			<input type="submit" value="Submit">
			{% if user.is_authenticated %}
			<br /><input type='checkbox' name='add_new'>Add city to your list
			{% endif %}
		</form>
	</div>
	{% if today %}
		{% if today.error %}
			<table style='width:50%;margin-left:auto;margin-right:auto'>
				<thead>
					<tr>
						<td colspan='2'>
							<h2>{{today.error}}</h2>
						</td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		{% else %}
		{% if user.is_authenticated %}
		<br />
		<div id='your_info'>
		<div id='current_city'>Your Current City is 
			<a href='?city={{user.city.current_city}}'>{{user.city.current_city}}</a>
		</div>
		<br />
			{% for city in cities %}
				<a href='?city={{city.city}}'>{{city.city}}</a> :
				<a href='/delete/{{city.city}}'>delete</a><br />
			{% endfor %}
		</div>
		{% endif %}
		</div>
		<div id='today'>
			<h1 id='current_city'><a href='/set_current/{{today.city}}'>{{today.city}}</a></h1>
			<small id='help_text'>set as your current city</small>
			<h4>{{date.date}}</h4>
			<h2 id='today_desc'>{{today.description}}</h2>
			<h1 id='today_temp'>{{today.temp}} F</h1>
			<div id='high_temp'>High <br />{{today.temp_max}} F</div>
			<div id='low_temp'>Low <br />{{today.temp_min}} F</div>
		</div>
		{% endif %}
	{% endif %}
	</div>
	<div id='spacer'>
	</div><br />
	<div id='split'></div>
	{% if forecast.error %}
	{% else %}
	<div id='forecast_spacer'>
	</div>
	<div id='forecast'>
	{% for key in forecast %}
		<div id='forecast_day'>
			{% for day in key %}
				<table>
					<tr><td>{{day.day}}</td></tr>
					<tr><td>{{day.date}}</td></tr>
					<tr><td>{{day.time}}</td></tr>
					<tr><td>{{day.main}}</td></tr>
					<tr><td>{{day.temp}} F</td></tr>
				</table>
			{% endfor %}
		</div>
	{% endfor %}
	</div>
	{% endif %}
</body>
{% endblock %}
