<!DOCTYPE html>
<html>
<head>
	<title>Your Weather</title>
</head>
<body>
	<header>Welcome {{user}}
		<div style='float:right'>
			<a href="/login">login/signup</a>
		</div>
	</header>
	<form method='POST'>
		<input type="text" name="city">
		<input type="submit" value="Submit">
	</form>
	{% if today %}
		<table style='width:50%;margin-left:auto;margin-right:auto'>
			<thead>
				<tr>
					<td colspan='2'>
						<h2>Today's Weather in {{today.city}}</h2>
						<h2>It's currently</h2>
						<h2>{{today.temp}}</h2>
						<h2>{{today.description}}</h2>
					</td>
				</tr>
				<tr>
					<td>High</td>
					<td>Low</td>
			</thead>
			<tbody>
				<tr>
					<td>{{today.temp_max}}</td>
					<td>{{today.temp_min}}</td>
				</tr>
			</tbody>
		</table>
	{% endif %}
	{% for key in forecast %}
		<div>{{key}}</div>
		<div>------------</div>
	{% endfor %}
</body>
</html>